body,
html {
  font-family: "Gruppo", cursive;
  background-color: #cbbcb1;
}
img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.location {
  list-style: none;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
}
h1 {
  color: #fff;
  position: absolute;
  font-size: 60px;
  top: 200px;
  left: 200px;
  font-family: "Roboto Mono", monospace;
  height: 80px;
}
p {
  color: #fff;
  position: absolute;
  top: 300px;
  left: 200px;
  width: 600px;
  font-size: 17px;
}
.btn {
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  font-weight: 900;
  position: absolute;
  top: 570px;
  left: 200px;
  border-radius: 15px;
  width: 200px;
  height: 30px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: black;
}
ul {
  position: absolute;
}
.contact li {
  list-style: none;
  display: inherit;
  position: relative;
  left: 1310px;
  font-size: 20px;
  padding: 10px;
}
.contact a {
  color: #fff;
}
hr {
  position: absolute;
  bottom: 460px;
  width: 40%;
  left: 200px;
  height: 5px;
  background-color: white;
}
